<ul>
  <li><%= recipe.name %>
    <br><%= image_tag recipe.image_url %><%= link_to "See Full Recipe", full_recipe_path(recipe.recipe_id), class: "action-button shadow animate red" %>
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
  </li>
</ul>

