<%= link_to "New Search", new_recipes_preview_path, class: "action-button shadow animate blue" %>

<div class="opaque">
  <%= link_to(image_tag("RecipeStashLogo.png", class: "logo"), new_recipes_preview_path) %>
  <h3><%= link_to "Back to Search Results", recipes_preview_index_path, class: "back_to_results" %></h3>

  <div class="forms">
    <h1>Based on Your Ingredients..</h1>
  </div>

  <div class="previews">
    <%= render partial: 'recipes_preview/recipe_preview', collection: recipe_preview.results, as: :recipe %>
  </div>
</div>