<%= link_to "New Search", new_recipes_preview_path, class: "action-button shadow animate blue" %>

<div class="opaque full-show">
    <%= render partial: 'full_recipe/full_recipe', object: full_recipe, as: :recipe %>
</div>

