<div class="opaque">
  <%= link_to(image_tag("RecipeStashLogo.png", class: "logo"), root_path) %>
  <div class="stash_it_button"><%= link_to "Stash It", root_path, class: "action-button shadow animate red" %></div>

  <div class="forms_with_errors">
    <%= render partial: 'full_recipe/full_recipe', object: full_recipe.recipe_content, as: :recipe %>
  </div>
</div>