<%= link_to "New Search", new_recipes_preview_path, class: "action-button shadow animate blue" %>

<div class="gray-opaque">
  
  <div class="wrap">
    <header>
      <p><%= link_to "The Stash", root_path, class: "stash" %></p>
    </header>
  </div>

  <div class="recipe_bucket">
    <%= render partial: 'stashes/stash_list', collection: @stashes, as: :stash %>
  </div>

</div>

<script>
  $(removeStash)
</script>